* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #ffffff;
    --second-bg-color: #473b88;
    --text-color :#192A60;
    --second-color: #192A60;
    --main-color:#F95C00;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
span {
    color: #ff4d05;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px;
    transition: all .45 ease;
    background-color: #192A60;
}

.icon a i {
    color: #192A60;
    font-size: 30px;
    background: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.content {
    display: grid;
    justify-content: center;
    /* background-color: #ff4d05; */
    padding: 5rem;
}

.content .img img {
    margin-top: 50px;
    max-width: 530px;
    height: auto;
    width: 100%;
    /* padding: 3rem; */
    border-radius: 8px;
}

.text {
    margin-top: 30px;
    justify-content: center;
}

.text h3 {
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    display: grid;
}

.text p {
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    display: grid;
}