* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #ffffff;
    --second-bg-color: #473b88;
    --text-color :#192A60;
    --second-color: #192A60;
    --main-color:#F95C00;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
span {
    color: #ff4d05;
}